<h1>Lista Dados Importados CNAB</h1>

<table  class="styled-table">
  <thead>
    <tr>
      <th>Dono da loja</th>
      <th>Nome loja</th>
      <th>Tipo da transação</th>
      <th>Data da ocorrência</th>
      <th>Valor da movimentação</th>
      <th>CPF do beneficiário</th>
      <th>Cartão utilizado na transação</th>
      <th>Hora da ocorrência</th>
    </tr>
  </thead>

  <% @importer_data_cnab.each do |cnab| %>
      <tr>
        <td><%= cnab.shop_owner %></td>
        <td><%= cnab.store %></td>
        <td><%= get_transaction(cnab.transaction_type) %></td>
        <td><%= cnab.date_occurrence.strftime("%d/%m/%Y") %></td>
        <td><%= number_to_currency(cnab.movement_value, unit: "") %></td>
        <td><%= cnab.cpf_beneficiary %></td>
        <td><%= cnab.card_transaction %></td>
        <td><%= cnab.hour_transaction.strftime("%H:%M:%S") %></td>
      </tr>
  <% end %>
</table>
